body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.score-board{
  width: 100%;
}

.columns{
  /* border: 1px solid green; */
}

.column{
  /* border: 1px solid blue; */
}

.pointsKey{
  font-size: .65rem;
}

/* #desktopNav{
max-width: 1328px;
display:flex;
justify-content:center;
} */

.navbar{
/* max-width: 1328px; */
display:flex;
justify-content:center;
}